<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>财经</title>

    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/ticket.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">

</head>
<body role="document" data-spy="scroll">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-static " style="padding: 10px 0px" id="navbar-example" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <a class="navbar-brand" style="font-size: 200%" href="{% url 'index' %}">贝叶斯分类器</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="font-size: 130%"><a href="{% url 'home' 1 %}">财经 </a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 2 %}">科技</a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 3 %}">汽车</a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 4 %}">房产</a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 5 %}">体育</a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 6 %}">娱乐</a></li>
                <li style="font-size: 130%"><a href="{% url 'home' 7 %}">其他</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="font-size: 130%"><a href="{% url 'upload' %}">上传文本</a></li>
                <li style="font-size: 130%"><a href="javascript:void(0);" onclick="message()">帮助</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container theme-showcase" data-target="#navbar-example" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 5% ;padding-bottom: 2%">
        <h2 style="margin-top: -10px">{{ type }}新闻训练结果</h2>
    </div>

    <div class="current">
        <h2 class="active text-danger">分词结果</h2>
        <p>
            {% for world in worlds_li %}
                <span class="col-sm-2">{{ world }}</span>
            {% endfor %}
        </p><br><br>
    </div>
</div>
<br>
<div id="container" class="cont"></div>
<div class="current container theme-showcase" data-target="#navbar-example" role="main">
    <h2 class="active text-danger">词频统计</h2><span id = "a">{{ a }}</span>
    <p>
        {% for world in world_list %}
            <span class="col-sm-3">{{ world }}</span>
        {% endfor %}
    </p><br><br>
</div>
<br><br>
<footer class="footer">
    <p>2018 西安邮电大学&nbsp;&nbsp;&nbsp;
        计算机学院&nbsp;&nbsp;&nbsp;
        软件1402班&nbsp;&nbsp;&nbsp;
        邹雄鑫&nbsp;&nbsp;&nbsp;毕业设计</p>
    <p>基于贝叶斯和python的应用系统开发</p>
</footer>

<script src="{% static 'dist/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/exporting.js' %}"></script>
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/oldie.js' %}"></script>
<script src="{% static 'js/annotations.js' %}"></script>
<script src="{% static 'dist/js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/worldCount.js' %}"></script>
</body>
</html>